---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
    <div class="flex flex-col justify-center items-center w-full h-screen m-auto bg-neutral-900">
        <div class="w-auto h-auto mb-4">
            <img class="w-32 h-auto object-contain object-center" src="/assets/img/logo/logonew_b.png" alt="Ikziriv Logo">
        </div>
        <div class="flex flex-row space-x-2 w-auto h-auto">
            <h1 class="font-bold text-lg md:text-xl tracking-tight mb-4 text-white">
                418 :
            </h1>
            <h2 class="font-bold text-lg md:text-xl tracking-tight mb-4 text-zinc-300">Not Found</h2>
        </div>
        <p class="text-slate-200 mb-8 px-4 md:px-16 max-w-xs text-xs text-center">
            Actually, page haven&apos;t been found but error 404 is too boring.
        </p>
        <a href="/">
            <a class="p-2 sm:p-2 w-40 font-bold text-sm mx-auto bg-transparent dark:bg-slate-900 text-center rounded-md border">
                <span class="text-white">Return Home</span>
            </a>
        </a>
    </div>  
</Layout>