---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
    <div class="flex flex-col justify-center items-center w-full h-screen m-auto bg-neutral-900">
        <h1 class="font-bold text-8xl md:text-8xl tracking-tight mb-4 text-white">
            418
        </h1>
        <h2 class="font-bold text-3xl md:text-4xl tracking-tight mb-4 text-white">Not Found</h2>
        <p class="text-slate-200 mb-8 max-w-sm text-xs">
            Actually, page haven&apos;t been found but error 404 is too boring.
        </p>
        <a href="/">
            <a class="p-2 sm:p-2 w-40 font-bold text-sm mx-auto bg-transparent dark:bg-slate-900 text-center rounded-md border">
                <span>Return Home</span>
            </a>
        </a>
    </div>  
</Layout>